//------ FONT SIZE ------
$font-size-base: 1.6rem;


//------ COLOR ------
$strong-orange: #FF6E00;
$light-orange: #FF9240;

$light-black: #181818;
$black: #000;

$white: #FFF;

$light-blue: #007bff;
$strong-blue: #004274;

$light-gray: #F9F6F4;

// ------ FONT FAMILY ------
$default-font: 'roboto',
sans-serif;