*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.15;
    font-size: 62.5%;
}

body {
    font-size: $font-size-base;
    font-family: $default-font;

}