.navbar {
  padding: 0 1rem;

  @include breakpoint (md) {
    padding: 0;
  }
}

.navbar-position {
  position: absolute;
  top: 0;
  margin-left: 5rem;

  @include breakpoint (md) {
    width: 100%;
    margin-left: 0;
  }
}

.navbar-brand {

  @include breakpoint (md) {
    @include center-position;
  }

  & img {
    width: 90%;

    @include breakpoint (md) {
      max-height: 30px;
    }
  }

}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: ease 0.5s;
  line-height: 80px;

  @include breakpoint (md) {
    color: $strong-blue;
    line-height: 40px;
    padding-left: 3rem !important;
  }

  &:hover {
    color: #00aee2;

    @include breakpoint (md) {
      background-color: $light-blue;
      color: $strong-blue;
    }
  }
}

.dropdown-divider {
  @include breakpoint (md) {
    color: $white;
  }
}

.nav-item {
  margin-right: 2rem;

  @include breakpoint(md) {
    margin-right: 0;
    border-bottom: solid 1px $white;
  }
}

#navbarNav {
  margin-left: 4rem;
  z-index: 3;

  @include breakpoint (md) {
    margin-left: 0;
    background-color: $light-gray;
    color: $light-blue;
  }
}

.dropdown-item {
  padding: 1rem 9rem 1rem 2rem;
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  font-size: 2.5rem;
  color: $white;
  height: auto;
}

.responsive-menu {
  position: relative;

  @include breakpoint (md) {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    background-color: $light-blue;

  }
}